# Python
__pycache__/
*.py[cod]
*.pyc

# Environment variables
.env-*
.env

# Testing
.pytest_cache/
Result/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Text files
*.txt